.header {
  background-color: var(--color-background);
  color: var(--color-header-text);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea; /* 연한 회색 선 추가 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 그림자는 아주 살짝만 */
}

.container {
  height: 60px;
  max-width: 1279px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

anchor.anchor,
.anchor:visited {
  color: var(--color-header-text);
  text-decoration: none;
}

.menuIcon {
  display: none;
  background: none;
  border: none;
  color: var(--color-header-text);
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0;
  z-index: 101;
  display: none;
  align-items: center;
}

.logo {
  color: var(--color-header-text);
  text-decoration: none;
  padding-top: 0.75rem;
}

.list {
  color: var(--color-header-text);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0.75rem;
  margin-bottom: 0;
}

.item {
  padding: 0 1rem;
  cursor: pointer;
}

.anchor,
.anchor:visited {
  color: var(--color-header-text);
  text-decoration: none;
  text-decoration-line: none;
}

.logo:hover,
.anchor:hover {
  color: var(--color-green);
}

.anchor:hover {
  font-weight: bold;
}

@media (max-width: 767px) {
  .menuIcon {
    display: flex;
  }

  .nav {
    /* position: absolute; */
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .navOpen {
    max-height: 300px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .list {
    flex-direction: column;
    padding: 1rem 0;
    margin: 0;
  }

  .item {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .nav {
    display: block;
    max-height: none;
  }

  .list {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
