:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-header-text: #a3a3a3;
  --color-header-text-hover: #f5f5f5;

  --color-background: #0b0f14;

  --font-base: "Inter", sans-serif;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 1rem;
}
